@inherits AProblemChildComponent

<div class="root">
    <div class="back" @onclick='Back'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor"
            class="h-full w-full text-gray-7 dark:text-dark-gray-7 group-hover:text-gray-8 dark:group-hover:text-dark-gray-8">
            <path fill-rule="evenodd"
                d="M5.414 11H21a1 1 0 110 2H5.414L12 19.586A1 1 0 0110.586 21l-8.293-8.293a.997.997 0 01.003-1.417L10.586 3A1 1 0 1112 4.414L5.414 11z"
                clip-rule="evenodd"></path>
        </svg>
        <div>
            @(Parent.Problem?.Title?.Title ?? "Back")
        </div>
    </div>
    @if (_isRequesting)
    {
        <div class="center-attention">
            Loading...
        </div>
    }
    else if (_solution is null)
    {
        <div class="center-attention">
            Failed to load community solution
        </div>
    }
    else
    {
        <div class="header">
            <img class="profile" src='@_solution.Topic.Post.Author.Profile.UserAvatar' />
            <div class="header-column">
                <div class="title">
                    @_solution.Topic.Title
                </div>
                <div>
                    @_solution.Topic.Post.Author.Username
                </div>
            </div>
        </div>
        <div class="details">
            @foreach (var tag in _solution.Topic.SolutionTags)
            {
                <vscode-tag>
                    @tag.Name
                </vscode-tag>
            }
            <div class="with-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14px" height="14px" fill="currentColor"
                class="h-4 w-4 text-gray-6 dark:text-dark-gray-6">
                    <path fill-rule="evenodd"
                    d="M16.848 13.05l.918 7.848a1 1 0 01-1.508.974L12 19.317l-4.258 2.555a1 1 0 01-1.508-.974l.918-7.848a7 7 0 119.695 0zm-1.864 1.284A6.973 6.973 0 0112 15a6.972 6.972 0 01-2.984-.666l-.56 4.776 3.03-1.817a1 1 0 011.028 0l3.03 1.817-.56-4.776zM17 8A5 5 0 117 8a5 5 0 0110 0z"
                    clip-rule="evenodd"></path>
                </svg>
                @_solution.Topic.Post.Author.Profile.Reputation
            </div>
            <div class="with-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14px" height="14px" fill="currentColor"
                class="h-4 w-4 text-gray-6 dark:text-dark-gray-6">
                    <path fill-rule="evenodd"
                    d="M19 11.063V7h-2v1a1 1 0 11-2 0V7H9v1a1 1 0 01-2 0V7H5v4.063h14zm0 2H5V19h14v-5.938zM9 5h6V4a1 1 0 112 0v1h2a2 2 0 012 2v12a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2V4a1 1 0 012 0v1z"
                    clip-rule="evenodd"></path>
                </svg>
                @(DateTimeOffset.UnixEpoch.AddSeconds(_solution.Topic.Post.CreationDate).ToLocalTime().ToString("d' 'MMM' 'yyyy"))
            </div>
        </div>
        <div class="content" @ref='_contentRef'>
            @((MarkupString)_contentHtml)
        </div>
        @if(_comments is not null)
        {
            <div class="comments-total with-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.5rem" height="1.5rem" fill="currentColor"><path fill-rule="evenodd" d="M2 11.001a9.001 9.001 0 014.974-8.047A8.876 8.876 0 0110.998 2h.535c.018 0 .037 0 .055.002 3.934.218 7.204 3.02 8.15 6.753a1 1 0 01-1.94.49c-.734-2.9-3.27-5.065-6.294-5.245h-.51a6.876 6.876 0 00-3.12.74l-.004.002A7.001 7.001 0 004 11.003v.002a6.873 6.873 0 00.738 3.117c.206.407.271.871.185 1.32l-.387 2.022 2.022-.387c.448-.086.912-.021 1.32.185.44.222.9.395 1.373.518a1 1 0 11-.502 1.936 8.865 8.865 0 01-1.773-.669.067.067 0 00-.042-.006l-3.47.665a1 1 0 01-1.17-1.17l.665-3.47a.067.067 0 00-.006-.043A8.873 8.873 0 012 11.001zM17.004 20h-.005a3 3 0 01-2.68-1.658l-.004-.007A2.936 2.936 0 0114 17.004v-.206a2.995 2.995 0 012.773-2.797l.233-.001c.46-.001.917.107 1.33.315l.007.004A3 3 0 0120 17v.005c.001.425-.09.845-.268 1.232l-.133.29a1 1 0 00-.074.606l.093.485-.484-.093a1 1 0 00-.606.073l-.29.134a2.937 2.937 0 01-1.234.268zm-.296-8A4.995 4.995 0 0012 16.738v.262c-.002.777.18 1.543.53 2.237a5 5 0 006.542 2.313l2.303.441c.365.07.686-.25.616-.615l-.441-2.303a5 5 0 00-2.312-6.541A4.937 4.937 0 0017 12h-.292z" clip-rule="evenodd"></path></svg>
                <div>
                    Comments (@(_comments.TotalNum))
                </div>
            </div>
            @if(_isRequestingComments)
            {
                <div class="center-attention">
                    Loading...
                </div>
            }
            else
            {
                <div class="comments">
                    @{
                        bool first = true;
                        foreach(var comment in _comments.Data)
                        {
                            if(first) first = false;
                            else
                            {
                                <vscode-divider></vscode-divider>
                            }
                            <CommunitySolutionComment Comment='@comment' />
                        }
                    }
                </div>
                <div class="pagination">
                    @if (_page > 1)
                    {
                        <button class="small" @onclick='PrevPage'>
                            Back
                        </button>
                    }
                    @if (_page * 10 < _comments.TotalNum)
                    {
                        <button class="small" @onclick='NextPage'>
                            Next
                        </button>
                    }
                </div>
            }
        }
    }
</div>
