@inherits AProblemChildComponent

<div class="root">
    @if(Parent.Problem is null
    || Parent.Problem.RequestedDetails.HasFlag(ProblemModel.EDetails.Solutions)
    || Parent.Problem?.Solutions is null)
    {
        <div class="center-attention">
            Loading...
        </div>
    }
    else if(Parent.Problem.Solutions.Solutions.Length == 0)
    {
        <div class="center-attention">
            Solutions not found
        </div>
    }
    else
    {
        @if(Parent.Problem.SolutionTags is not null)
        {
            <div class="header">
                <div class="tags">
                    <Dropdown Title="Tags" IsMultiSelect="true" IsAbsolute="true">
                        @foreach(var tag in Parent.Problem.SolutionTags.SolutionTopicTags)
                        {
                            <DropdownItem
                                Selected='async _ => await OnSolutionsTagSelected(tag.Slug)'
                                Unselected='async _ => await OnSolutionsTagUnselected(tag.Slug)'
                                IsSelected='@(_solutionsSelectedTags.Contains(tag.Slug))'>
                                @(tag.Name) (@tag.Count)
                            </DropdownItem>
                        }
                    </Dropdown>
                </div>
                <div class="tags">
                    <Dropdown Title="Language" Unselected='async _ => await OnSolutionsLanguageChange(null)' IsAbsolute="true">
                        @foreach(var tag in Parent.Problem.SolutionTags.SolutionLanguageTags)
                        {
                            <DropdownItem
                                Selected='async _ => await OnSolutionsLanguageChange(tag.Slug)'
                                IsSelected='@(_solutionsSelectedLanguage == tag.Slug)'>
                                @(tag.Name) (@tag.Count)
                            </DropdownItem>
                        }
                    </Dropdown>
                </div>
            </div>
        }
        <div class="list">
            @foreach (var solution in Parent.Problem.Solutions.Solutions)
            {
                <div class="solution" @onclick='_ => ShowSolution(solution.Id)'>
                    <div class="solution-avatar">
                        <img src='@solution.Post.Author.Profile.UserAvatar' />
                    </div>
                    <div class="solution-body">
                        <div class="solution-title">
                            @solution.Title
                        </div>
                        <div class="solution-details">
                            <div>
                                @solution.Post.Author.Username
                            </div>
                            <div>
                                @(DateTimeOffset.UnixEpoch.AddSeconds(solution.Post.CreationDate).ToLocalTime().ToString("d' 'MMM' 'yyyy', 'HH':'mm"))
                            </div>
                            <div class="solution-tags">
                                @foreach (var tag in solution.SolutionTags)
                                {
                                    <vscode-tag>
                                        @tag.Name
                                    </vscode-tag>
                                }
                            </div>
                        </div>
                        <div class="solution-info">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16px" height="16px" fill="currentColor" class="h-4.5 w-4.5 text-gray-7 dark:text-dark-gray-7"><path fill-rule="evenodd" d="M7.333 8.667v4h1.334v-4h4.288L8 3.299 3.045 8.667h4.288zm-1.333 4C6 13.403 6.597 14 7.333 14h1.334C9.403 14 10 13.403 10 12.667V10h3.716c.872 0 1.326-1.038.735-1.678L8.735 2.129a1 1 0 00-1.47 0L1.55 8.322C.958 8.962 1.412 10 2.284 10H6v2.667z" clip-rule="evenodd"></path></svg>
                                @solution.Post.VoteCount
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16px" height="16px" fill="currentColor" class="h-4.5 w-4.5 text-gray-7 dark:text-dark-gray-7"><path fill-rule="evenodd" d="M1.104 12.444a1 1 0 010-.888c.13-.26.37-.693.722-1.241A18.85 18.85 0 013.88 7.652C6.184 5.176 8.896 3.667 12 3.667s5.816 1.509 8.119 3.985c.79.85 1.475 1.756 2.055 2.663.352.548.593.98.722 1.24a1 1 0 010 .89c-.13.26-.37.692-.722 1.24a18.848 18.848 0 01-2.055 2.663c-2.303 2.476-5.015 3.985-8.119 3.985s-5.816-1.509-8.119-3.985a18.846 18.846 0 01-2.055-2.663c-.352-.548-.593-.98-.722-1.24zm2.406.162a16.87 16.87 0 001.836 2.38c1.959 2.106 4.19 3.347 6.654 3.347 2.465 0 4.695-1.24 6.654-3.347A16.87 16.87 0 0020.86 12a16.871 16.871 0 00-2.206-2.986C16.695 6.908 14.464 5.667 12 5.667c-2.465 0-4.695 1.24-6.654 3.347A16.87 16.87 0 003.14 12c.108.188.232.391.37.607zM12 15.75c-2.06 0-3.727-1.68-3.727-3.75 0-2.07 1.667-3.75 3.727-3.75 2.06 0 3.727 1.68 3.727 3.75 0 2.07-1.667 3.75-3.727 3.75zm0-2c.952 0 1.727-.782 1.727-1.75s-.775-1.75-1.727-1.75c-.952 0-1.727.782-1.727 1.75s.775 1.75 1.727 1.75z" clip-rule="evenodd"></path></svg>
                                @solution.ViewCount
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16px" height="16px" fill="currentColor" class="h-4.5 w-4.5 text-gray-7 dark:text-dark-gray-7"><path fill-rule="evenodd" d="M11.997 21.5a9.5 9.5 0 01-8.49-5.251A9.38 9.38 0 012.5 11.997V11.5c.267-4.88 4.12-8.733 8.945-8.999L12 2.5a9.378 9.378 0 014.25 1.007A9.498 9.498 0 0121.5 12a9.378 9.378 0 01-.856 3.937l.838 4.376a1 1 0 01-1.17 1.17l-4.376-.838a9.381 9.381 0 01-3.939.856zm3.99-2.882l3.254.623-.623-3.253a1 1 0 01.09-.64 7.381 7.381 0 00.792-3.346 7.5 7.5 0 00-4.147-6.708 7.385 7.385 0 00-3.35-.794H11.5c-3.752.208-6.792 3.248-7.002 7.055L4.5 12a7.387 7.387 0 00.794 3.353A7.5 7.5 0 0012 19.5a7.384 7.384 0 003.349-.793 1 1 0 01.639-.09z" clip-rule="evenodd"></path></svg>
                                @solution.TopLevelCommentCount
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div class="pagination">
            @if (_page > 0)
            {
                <button class="small" @onclick='PrevPage'>
                    Back
                </button>
            }
            @if (_page * 15 < Parent.Problem.Solutions.TotalNum - 15)
            {
                <button class="small" @onclick='NextPage'>
                    Next
                </button>
            }
        </div>
    }
</div>